body  
{  
    margin: 0;  
    padding: 0;  
    background-color: #29516d;  
    font-family: 'Arial';  
}  
.login{  
        width: 380px; 
        height: 290px;
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #95170231;  
        border-radius: 55px ;  
          
}  
h2{  
    text-align: center;  
    color: white;  
    padding: 5px;  
}  
label{  
    color: white;  
    font-size: 18px;  
}  
#Uname, #pwd{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 8px;  
    padding-left: 8px;  
}  
  
#login{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 37px;  
    color: rgb(36, 255, 182);  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;
    color: #29516d; 
}  
#lgin {
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 19px;  
    color: rgb(36, 255, 182);  
}
.error-msg{
    display: block;
    background: crimson;
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    
}

